/*OBECNE NASTAVENI*/

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background: #181818;
    margin: 0;
}

/*HEADER*/

.headerr {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #000000;
    background: url(pozadi.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 3px solid #5000ff;
}

/*HEADER BEZ BORDERU DOLE, ABY TO BYLO DOBRY NA STRANKU "DOMU"*/

.header2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #000000;
    background: url(pozadi.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*PREVAZNE PRO ANIMACI TEXTU "FLEEWEB" KTERY JE UMISTEN NA LEVO V NAVIGACI*/

.nazev {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: #000000;
    font-weight: 900;
    position: absolute;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    letter-spacing: 2px;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    background-clip: text;
	animation: rainbow 10s linear infinite;
    background-size: 400%;
}

/*TOHLE JE TA ANIMACE*/

@keyframes rainbow {
	0% {
		background-position: 0%;
	}

	100% {
		background-position: 400%;
	}
}

/*TADY JSOU VECI PRO NAVIGACI*/

ol {
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    list-style-type: none;
    background-color: #000000;
    color: white;
    box-shadow: 2px 2px 7px #1b1b1b;
    top: 0;
    width: 100%;
    position: fixed;
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: #000000;
    font-weight: bold;
}

li a:hover {
    color: #5000ff;
    text-shadow: #5000ff;
}

/*TOHLE JE TEN BOXIK VE KTEREM JE TEXT*/

.boxik {
    display: grid;
    border: 3px solid #5000ff;
    padding: 10px 25px ;
    text-align: left;
    box-shadow: 5px 5px 10px #5100ff34;
    border-radius: 10px;
    background-color: #252525;
    width: 50%;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    line-height: 2;
}

/*PROJEKTY*/

.projekt {
    display: grid;
    border: 3px solid #0c0027;
    padding: 10px 25px ;
    text-align: left;
    box-shadow: 5px 5px 10px #08001a;
    border-radius: 10px;
    background-color: #252525;
    width: 90%;
    text-decoration: none;
    margin: 0 auto;
    margin: 2%;
    line-height: 2;
}

/*TOTO JE FOOTER*/

.footerino {
    background-color: #000000;
    text-align: center;
    justify-content: center;
    margin-bottom: 0%;
    border: 3px solid #000000;
    margin: 0 auto;
    padding: 20px;
    padding-top: 30px;
    border-top: 3px solid #5000ff;
}

/*TOTO JE PRO DALSI ANIMACI*/

.haha {
    background-color: #00000000;
    font-weight: 900;
    position: absolute;
    background: linear-gradient(90deg, #ffffff, #a57ffd, #5000ff, #a57ffd, #ffffff);
    letter-spacing: 2px;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    background-clip: text;
	animation: rainbow 12s linear infinite;
    background-size: 400%;
}

/*TOHLE TADY MUSI BYT, PROTOZE NECO NENI JAK JE, TAKZE JSEM TO UDELAL TAKHLE XDD*/

h2, h3, p, a {
    background-color: #252525;
}

.blackground {
    background: #000000;
}

.purpleblackbg {
    background: black;
    color: #5000ff;
    text-shadow: 0 0 25px #5000ff;
}

.purple {
    color: #5000ff;
    text-shadow: 0 0 25px #5000ff;
    background-color: #252525;
}

/*RESPONZIVITA PRO MOBILNI TELEFON CI TABLET*/

@media (max-width: 900px) {
    body {
        font-size: 14px;
    }

    header {
        height: 100vh;
    }


    .boxik {
        width: 55%;
    }

    .projekt {
        width: 85%;
    }
}

@media (max-width: 720px) {
    body {
        font-size: 13px;
    }

    header {
        height: 100vh;
    }


    .boxik {
        width: 60%;
    }

    .projekt {
        width: 80%;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 12px;
    }

    header {
        height: 100vh;
    }

    .boxik {
        width: 65%;
    }

    .projekt {
        width: 78%;
    }
}

@media (max-width: 420px) {
    body {
        font-size: 11px;
    }

    header {
        height: 100vh;
    }

    .boxik {
        width: 70%;
    }

    .projekt {
        width: 72%;
    }

    nav {
        font-size: 9px;
    }
}

@media (max-width: 380px) {
    body {
        font-size: 10px;
    }

    header {
        height: 100vh;
    }

    img {
        height: 100vh;
    }

    .boxik {
        width: 70%;
    }

    .projekt {
        width: 70%;
    }

    nav {
        font-size: 8.5px;
    }
}
